name: Zola on GitHub Pages

on: 
 push:
  branches:
   - master

permissions:
 contents: write
 pages: write

jobs:
  build:
    name: Publish site
    runs-on: ubuntu-latest
    steps:  
    - name: Checkout main
      uses: actions/checkout@v4
    - name: Build and deploy
      uses: shalzz/zola-deploy-action@v0.18.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
